* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center

}

.calculator {
    flex: 0 0 95%;
}

.screen {
    width: 100%;
    font-size: 7rem;
    padding: 0.5rem;
    background: rgb(41,41,56);
    color: white;
    border: none;
}