* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue

}

.calculator {
    flex: 0 0 50%;
    -webkit-box-shadow: 14px 35px 96px 17px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 35px 96px 17px rgba(0,0,0,0.75);
    box-shadow: 14px 35px 96px 17px rgba(0,0,0,0.75);
    
}

.screen {
    width: 100%;
    font-size: 7rem;
    padding: 0.5rem;
    background: rgb(41,41,56);
    color: white;
    border: none;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s linear;
}
button {
    flex: 0 0 25%;
    padding: 0.25rem;
    transition: all 2s easy;

}
.btn-yellow {
    background: rgb(225,146,62);
    color: white;
}
.btn-grey {
    background: rgb(224,224,224)
}
.btn, .btn-equal, .btn-clear {
    font-size: 4rem;
}
.btn-equal {
    background: darkgrey;
}
.btn-clear {
    background:darkgray
}